.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background: rgb(27,171,185);
  z-index: 99;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-logo-wrapper {
  flex: .25;
  /*background-image: url('../media/academy_a.png');*/
  background-image: url('../media/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar-menu-wrapper {
  flex: .75;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-menu-item {
  display: flex;
  padding: 5px 20px;
  font-size: 18px;
  color: white;
  height: 60px;
  align-items: center;
  transition: all .35s;
  cursor: pointer;
}

.navbar-menu-item:hover {
  background: rgb(64,131,139);
  transition: all .35s;
}
