.table {
  width: 100%;
}

.tableHeader {
  /*position: relative;*/
  /*top: 60px;*/
  z-index: 2;
  background: white;
  width: 80vw;
  padding: 10px 0 2px 0;
}


.tableBody {
  /*position: relative;*/
  /*top: 75px;*/
}

.tableRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.tableRowElement {
  display: flex;
  flex: .2;
  margin: 5px;
  justify-content: flex-start;
}

.tableHeader .tableRowElement {
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tableRowElement input {
  height: 30px;
  font-size: 16px;
  min-width: 15vw;
  max-width: 15vw;
  padding: 7px;
}

.tableBody .tableRowElement {
  overflow: hidden;
  padding-left: 8px;
}

.tableBody .tableRow:hover {
  background: rgb(27,171,185);
  color: white;
  cursor: pointer;
}

i {
  vertical-align: middle;
}

.moreInfo {
  height: 100px;
  width: 100%;
  opacity: 1;
  /*transition: all 1s;*/
}

.moreInfo.ng-hide-add, .moreInfo.ng-hide-remove {
  transition: all 1s;
}

.moreInfo.ng-hide {
  height: 0;
  opacity: 0;
  /*transition: all 1s;*/
}

.bb {
  border-bottom: solid 1px gray;
}

.one {
  flex: 1;
}

.two {
  flex: 2;
}

.three {
  flex: 3;
}

.center {
  justify-content: center;
}
