<div class="">
  <table>
    <thead>
      <tr>
        <th ng-click="sortOrder('name')">Branch Name
          <span ng-if="activeHeader === 'name'">
            <span ng-if="sortDirection === '+'"><i class="material-icons">arrow_drop_up</i></span>
            <span ng-if="sortDirection === '-'"><i class="material-icons">arrow_drop_down</i></span>
          </span>
        </th>
        <th ng-click="sortOrder('state')">State
          <span ng-if="activeHeader === 'state'">
            <span ng-if="sortDirection === '+'"><i class="material-icons">arrow_drop_up</i></span>
            <span ng-if="sortDirection === '-'"><i class="material-icons">arrow_drop_down</i></span>
          </span>
        </th>
        <th ng-click="sortOrder('code')">Branch Code
          <span ng-if="activeHeader === 'code'">
            <span ng-if="sortDirection === '+'"><i class="material-icons">arrow_drop_up</i></span>
            <span ng-if="sortDirection === '-'"><i class="material-icons">arrow_drop_down</i></span>
          </span>
        </th>
        <th ng-click="sortOrder('nmls')">NMLS ID
          <span ng-if="activeHeader === 'nmls'">
            <span ng-if="sortDirection === '+'"><i class="material-icons">arrow_drop_up</i></span>
            <span ng-if="sortDirection === '-'"><i class="material-icons">arrow_drop_down</i></span>
          </span>
        </th>
        <th ng-click="sortOrder('manager')">Branch Manager
          <span ng-if="activeHeader === 'manager'">
            <span ng-if="sortDirection === '+'"><i class="material-icons">arrow_drop_up</i></span>
            <span ng-if="sortDirection === '-'"><i class="material-icons">arrow_drop_down</i></span>
          </span>
        </th>
      </tr>
      <tr>
        <th><input type="text" ng-model="search.name" placeholder="filter" /></th>
        <th><input type="text" ng-model="search.state" placeholder="filter" /></th>
        <th><input type="text" ng-model="search.code" placeholder="filter" /></th>
        <th><input type="text" ng-model="search.nmls" placeholder="filter" /></th>
        <th><input type="text" ng-model="search.manager" placeholder="filter" /></th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="branch({id: '{{branch.code}}'})" ng-repeat="branch in branchList | filter: search | orderBy: activeHeader | orderBy: sortDirection">
        <td>{{branch.name}}</td>
        <td>{{branch.state}}</td>
        <td>{{branch.code}}</td>
        <td>{{branch.nmls}}</td>
        <td>{{branch.manager}}</td>
      </tr>
    </tbody>
  </table>
</div>
